:root {
  --Header-team-card-background: #ffffff;
  --headline-color: #2e2f42;
  --par-color: #434455;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-raleway-ex-bold: 800;
  --font-weight-extra-bold: 900;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.buttons-cursor {
  cursor: pointer;
}

/* header */

.header-border-color {
  border-bottom: 1px solid #e7e9fc;
}

.header-web-style {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-raleway-ex-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-studio-style {
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Header logo */
.link {
  text-decoration: none;
}

/* header-nav */

.list {
  list-style: none;
}

a.navi {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

a.navi:active,
a.navi:focus,
a.navi:hover {
  color: #404bbf;
}
/* header address */

a.addresses {
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
a.addresses:hover,
a.addresses:active,
a.addresses:focus {
  color: #404bbf;
}

/* 1st section */
.hero-section {
  background: #2e2f42;
}

.header-hero {
  font-weight: var(--font-weight-bold);
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-button-st {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* text */
  align-items: center;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.order-button-st:hover,
.order-button-st:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section 2 */

.headlines-scnd-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.scnd-sec-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* third section */

.headlines-scnd-rang {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* section 4*/

.team-section {
  background: #f4f4fd;
}

.our-team {
  background-color: #ffffff;
}

.thrd-rang-headlines {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Footer */
.footer-color {
  background: #2e2f42;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: var(--font-weight-raleway-ex-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-studio-style {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-par {
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* portfolio */
.buttons {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}
.buttons:hover,
.buttons:active,
.buttons:focus {
  background: #404bbf;
  color: #ffffff;
}

/* Portfolio Headlines 2 */

.port-scnd-headlines {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headline-color);
}

.portfolio-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--par-color);
}
